



.fade-out-section {
    opacity:1;
    visibility:visible;
    transition: opacity 90ms ease-out, visibility 90ms ease-out;
    will-change:opacity,visibility; 
}


.fade-out-section.is-visible {
    opacity: 0;
    visibility: hidden;
}



.fade-in-section {
    opacity: 0;
    visibility:hidden;
    transition: opacity 90ms ease-in, visibility 90ms ease-in;
    will-change:opacity,visibility; 
}


.fade-in-section.is-hidden {
    opacity: 1;
    visibility: visible;
}


.fade-in-section.is-opaque {
    opacity: 1;
    visibility: visible;
    will-change:'';
}




@tailwind base;
@tailwind components;
@tailwind utilities;